<!--Primitive values-->
<div class="form-group my-2" *ngIf="!isChildren && getType() != 'boolean' && !getType().startsWith('array') && !getType().startsWith('attribute')">
  <!--Name-->
  <label *ngIf="name" class="input-label" style="margin-bottom: 10px;">{{ name }}</label>
  <div class="input-group">
    <!--Input-->
    <input class="form-control" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="text"     [disabled]="static" *ngIf="getType() == 'string'" placeholder="Input text">
    <input class="form-control" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="number"   [disabled]="static" *ngIf="getType() == 'number'" placeholder="0">
    
    <select [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" class="form-control" [disabled]="static" *ngIf="getType() == 'enum'">
      <option *ngFor="let val of options" [value]="val">{{val}}</option>
    </select>
    <select multiple class="form-control enum-multi-form-control" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" [size]="options.length"  [disabled]="static" *ngIf="getType() == 'enum-multi'">
      <option *ngFor="let val of options" [value]="val">{{val}}</option>
    </select>

    <!--Add/delete-->
    <button class="btn btn-outline-secondary btn-trash-circle" type="button" (click)="deleteCallback(refID)" *ngIf="deleteCallback != null">
      <img alt="trash" src="assets/img/trash-icon.svg" />
    </button>
    <!-- <button class="btn btn-outline-secondary btn-trash-circle" type="button" (click)="addCallback(value,getType()); value =''" *ngIf="addCallback != null">
      <span class="fa fa-plus"></span>
    </button> -->
    <button class="btn btn-link" style="text-decoration: none; text-align: right; padding-right: 0px; min-width: 70px" type="button" (click)="addCallback(value,getType()); value =''" *ngIf="addCallback != null">
      + Add
    </button>
  </div>
</div>

<div class="input-group my-2" *ngIf="!isChildren && getType() == 'boolean' && !getType().startsWith('array') && !getType().startsWith('attribute')">
  <!--Name-->
  <div class="checkbox-input-wrapper" style="height: 46px;">
    <label *ngIf="name" class="mx-2">{{ name }}</label>
    <div class="vertifcal-divider" style="margin-left: 15px; margin-right: 15px;"></div>
    <!--Input-->
    <div class="d-flex justify-content-center align-items-center" *ngIf="getType() == 'boolean'">
      <input class="form-check-input mt-0 bg-transparent" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="checkbox" [disabled]="static" placeholder="Select value">
    </div>
  </div>

   <!--Add/delete-->
   <button class="btn btn-outline-secondary btn-trash-circle" type="button" (click)="deleteCallback(refID)" *ngIf="deleteCallback != null">
    <img alt="trash" src="assets/img/trash-icon.svg" />
  </button>
  <!-- <button class="btn btn-outline-secondary btn-trash-circle" type="button" (click)="addCallback(value,getType()); value =''" *ngIf="addCallback != null">
    <span class="fa fa-plus"></span>
  </button> -->
  <button class="btn btn-link" style="text-decoration: none; text-align: right; padding-right: 0px; min-width: 70px" type="button" (click)="addCallback(value,getType()); value =''" *ngIf="addCallback != null">
    + Add
  </button>
</div>

<div class="input-group my-2" style="flex-wrap: unset;" *ngIf="isChildren && !getType().startsWith('array') && !getType().startsWith('attribute')">
  
  <div class="input-group input-group-for-children d-flex justify-content-center align-items-center">
    <!--Name-->
    <div class="input-label d-flex justify-content-center align-items-center" style="width: 50px; height: 80% !important; border-right: 1px solid rgba(225, 228, 229, 1) !important;">
      <label *ngIf="name">{{ name }}</label>
    </div>
    <!--Input-->
    <input class="form-control" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="text"     [disabled]="static" *ngIf="getType() == 'string'" placeholder="Input text">
    <input class="form-control" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="number"   [disabled]="static" *ngIf="getType() == 'number'" placeholder="0">
    <div class="input-group-text" *ngIf="getType() == 'boolean'">
      <input class="form-check-input mt-0" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="checkbox" [disabled]="static" placeholder="Select value">
    </div>
    <select [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" class="form-control" [disabled]="static" *ngIf="getType() == 'enum'">
      <option *ngFor="let val of options" [value]="val">{{val}}</option>
    </select>
    <select multiple class="form-control enum-multi-form-control" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" [size]="options.length"  [disabled]="static" *ngIf="getType() == 'enum-multi'">
      <option *ngFor="let val of options" [value]="val">{{val}}</option>
    </select>
  </div>

   <!--Add/delete-->
    <button class="btn btn-outline-secondary btn-trash-circle" type="button" (click)="deleteCallback(refID)" *ngIf="deleteCallback != null">
      <img alt="trash" src="assets/img/trash-icon.svg" />
    </button>
    <!-- <button class="btn btn-outline-secondary btn-trash-circle" type="button" (click)="addCallback(value,getType()); value =''" *ngIf="addCallback != null">
      <span class="fa fa-plus"></span>
      
    </button> -->
    <button class="btn btn-link" style="text-decoration: none; text-align: right; padding-right: 0px; min-width: 70px" type="button" (click)="addCallback(value,getType()); value =''" *ngIf="addCallback != null">
      + Add
    </button>
</div>

<!--Arrays-->
<div class="card my-2 mt-4 {{getType().startsWith('array') && hasChildren ? 'bg-surface-secondary': 'bg-surface' }}" *ngIf="getType().startsWith('array')">
  <div class="card-header {{getType().startsWith('array') && hasChildren ? 'card-header-child' : ''}}" style="border-bottom: none;">
    {{name}}
    <button class="btn btn-delete-complex-attribute float-end bg-transparent border-0 position-absolute" style="right: 0; top: 0;" type="button" (click)="deleteCallback(refID)" *ngIf="deleteCallback != null"><img alt="trash" src="assets/img/trash-icon.svg" /></button>
  </div>
  <div class="card-body">
    <div *ngFor="let item of value; let i=index" class="card-element ">
      <app-inputfield [type]="elemType(getType())" [name]="i+1" [(value)]="value[i]" [deleteCallback]="delete" [refID]="i" [static]="true" isChildren="true"></app-inputfield>
    </div>
  </div>
  <div class="card-footer">
    <app-inputfield [type]="elemType(getType())" [addCallback]="add"></app-inputfield>
  </div>
</div>


<!--Attributes-->
<app-inputfield [name]="value['key']" [(value)]="value['value']" [deleteCallback]="deleteCallback" [refID]="refID"
    *ngIf="getType().startsWith('attribute') && addCallback == null" [hasChildren]="true"></app-inputfield>
<div class="my-2 d-flex align-items-center" *ngIf="getType().startsWith('attribute') && addCallback != null">
  <div class="input-group d-flex justify-content-center align-items-center bg-white rounded-lg " style="height: 46px;">
    <div class="flex-1 ">
      <input class="form-control border-0 bg-transparent" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" type="text"  placeholder="Enter attribute's name"    [disabled]="static" />
    </div>
    <div class="vertifcal-divider"></div>
    <div class="flex-1" >
      <select #newType class="form-control border-0 bg-transparent" style="background-color: transparent;">
        <option *ngFor="let type of [['Text','string'],['Multivalued','array-any'],['Truth value','boolean'],['Number','number']]" value="{{ type[1] }}">
          {{ type[0] }}
        </option>
      </select>
    </div>
  </div>
  <button class="btn btn-link" style="text-decoration: none; text-align: right; padding-right: 0px; min-width: 70px" type="button" (click)="addCallback(value,newType.value); value =''">+ Add</button>
</div>