.input-group>.input-group-prepend {
    flex: 0 0 20%;
}

.input-group>.input-group-prepend>.input-group-text {
    width: 100%;
}

.card {
    padding: 10px 5px !important;
    border: 1px solid rgba(225, 228, 229, 1);
}

.card-body {
    padding: 0px !important;
}

.card-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: rgba(8, 8, 44, 1);
}

.card-header-child {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: rgba(78, 95, 111, 1);
}

.input-group-for-children {
    background-color: #fff;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 1);
    overflow: hidden;
}

/* .input-group-for-children label {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.input-group-for-children .form-control {
    background-color: transparent;
    border: none !important;
    color: #08082C;
}

.input-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #4E5F6F;
}

.enum-multi-form-control {
    border-radius: 10px !important;
    min-height: 60px;
}

.enum-multi-form-control option {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: rgba(8, 8, 44, 1);
}