div.img-container{
    width: 80%;
}

.navbar-custom {
    padding-left: 10%;
    padding-right: 10%;
}

.active { 
    border-bottom: 3px solid #3656DE !important;
    color: #3656DE !important;
    font-weight: 500;
}