<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-custom" style="z-index: 1;">
  <a class="navbar-brand" href="./">
    <img src="assets/img/logo-vn.svg" height="24px" width="138px" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Navbar Items-->
  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse justify-content-center"
  >
    <div>
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="isAdmin()">
          <a
            class="nav-link {{ currentRoute == 'user' ? 'active' : '' }}"
            href="./user"
            (click)="isMenuCollapsed = true"
            >User</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a
            class="nav-link {{ currentRoute == 'client' ? 'active' : '' }}"
            href="./client"
            (click)="isMenuCollapsed = true"
            >Client</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a
            class="nav-link {{ currentRoute == 'config' ? 'active' : '' }}"
            href="./config"
            (click)="isMenuCollapsed = true"
            >Config</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a
            class="nav-link {{ currentRoute == 'webfinger' ? 'active' : '' }}"
            href="./webfinger"
            (click)="isMenuCollapsed = true"
            >Webfinger</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{ currentRoute == 'endpoints' ? 'active' : '' }}"
            href="./endpoints"
            (click)="isMenuCollapsed = true"
            >Endpoints</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div style="float: right">
    <div
      class="btn-group"
      ngbDropdown
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <button
        type="button "
        class="button-language btn btn-outline-primary border-0 d-flex flex-row align-items-center"
        ngbDropdownToggle
      >
        <img
          src="{{getCurrentLanguageImgPath()}}"
          width="24px"
          height="24px"
          alt="language-icon"
        />
      </button>

      <div
        class="custom-dropdown-menu-header dropdown-menu px-2 rounded-lg"
        ngbDropdownMenu
      >
        <button
          ngbDropdownItem
          class="border-0 d-flex flex-row justify-content-start align-items-center py-2 btn btn-outline-primary bg-transparent px-0"
          (click)="changelLanguage('en')"
        >
          <img
            src="assets/img/english-icon.png"
            width="24px"
            height="24px"
            alt="english-icon"
          />
          <div class="p-1"></div>
          English
        </button>
        <button
          ngbDropdownItem
          class="border-0 d-flex flex-row justify-content-start align-items-center py-2 btn btn-outline-primary bg-transparent px-0"
          (click)="changelLanguage('tw')"
        >
          <img
            src="assets/img/taiwan-icon.svg"
            width="24px"
            height="24px"
            alt="english-icon"
          />
          <div class="p-1"></div>
          Taiwan
        </button>
      </div>
    </div>

    <div
      class="btn-group"
      ngbDropdown
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <button
        type="button "
        class="btn-logout btn btn-outline-primary border-0 d-flex flex-row justify-content-center align-items-center"
        ngbDropdownToggle
      >
        <div class="p-3 bg-secondary rounded-circle"></div>
        <div class="p-1"></div>
        <div class="label-username">{{ getId() }}</div>
      </button>
      <div
        class="custom-dropdown-menu-header dropdown-menu px-3 rounded-lg"
        ngbDropdownMenu
      >
        <button
          ngbDropdownItem
          class="border-0 d-flex flex-row justify-content-start align-items-center py-3 btn btn-outline-primary bg-transparent px-0"
          [routerLink]="['/selfservice']"
          *ngIf="isLoggedIn()"
        >
          <div class="avatar-small bg-secondary rounded-circle"></div>
          <div class="p-1"></div>
          {{ getId() }}
        </button>
        <button
          class="btn btn-primary btn-lg py-3 d-flex align-items-center justify-content-center"
          ngbDropdownItem
          (click)="isLoggedIn() ? logout() : login()"
        >
          {{ isLoggedIn() ? "Log Out" : "Login" }}
        </button>
      </div>
    </div>

    <!-- <button
      class="btn btn-secondary me-3 justify-content-end"
      [routerLink]="['/selfservice']"
      *ngIf="isLoggedIn()"
    >
      <span class="fa fa-user-circle fa-2x"></span>
      {{ getId() }}
    </button> -->
    <!--Login/Logout Button-->
    <!-- <button
      class="btn btn-lg btn-outline-primary justify-content-end"
      (click)="isLoggedIn() ? logout() : login()"
    >
      {{ isLoggedIn() ? "Logout" : "Login" }}
    </button> -->
  </div>
</nav>

<div *ngIf="getRoute() == ''" class="row justify-content-center">
  <div class="col-sm-10 col-md-5 center-block">
    <img
      class="img-fluid"
      alt="Responsive image"
      src="assets/img/tpisoftware-14y-logo.png"
    />
  </div>
</div>

<div class="content-container mx-4">
  <div class="section-below-header">
    <nav *ngIf="breadcrumbs.length > 1" aria-label="breadcrumb" style="margin-top: 105px; margin-left: 10%;">
      <ol class="breadcrumb" >
        <li *ngFor="let route of breadcrumbs; let i=index" class="breadcrumb-item">
          <ng-container *ngIf="i != breadcrumbs.length - 1; else lastBreadcrumb">
            <a [routerLink]="route" [title]="route">{{route}}</a>
          </ng-container>
          <ng-template #lastBreadcrumb>
            <div style="width: 100px; overflow: hidden; text-overflow: ellipsis;" >
              <span>{{route}}</span>
            </div>
          </ng-template>
        </li>
      </ol>
    </nav>
    
  </div>
  <!--Title-->
  <!-- <h2>{{ pageTitle }}</h2> -->

  <!--Error Infos-->
  <div *ngFor="let err of errorInfos">
    <ngb-alert
      [type]="'danger'"
      (close)="errorInfos.splice(errorInfos.indexOf(err, 0), 1)"
    >
      <b>ERROR</b>
      <br />
      {{ err }}
    </ngb-alert>
  </div>

  <!--Other Infos-->
  <div *ngFor="let info of infos">
    <ngb-alert
      [type]="'info'"
      (close)="infos.splice(infos.indexOf(info, 0), 1)"
    >
      {{ info }}
    </ngb-alert>
  </div>

  <!--Actual Content-->
  <div *ngIf="!hasPageAccessRights(pageAccessLevel)">
    {{ getPageAccessRightError() }}
  </div>
  <div *ngIf="hasPageAccessRights(pageAccessLevel)">
    <router-outlet class="component mt-4 ml-4"></router-outlet>
  </div>
</div>
