<!--Search/New Bar-->
<form
  class="form-inline custom-form-inline"
  style="display: table; margin: auto"
>
  <div class="input-group bg-white rounded-lg" *ngIf="!showNewClient">
    <div
      class="px-2 d-flex justify-content-center align-items-center custom-search-icon-wrapper"
    >
      <img
        class="mx-1"
        src="assets/img/search-icon.svg"
        width="14px"
        height="14px"
      />
    </div>
    <input
      class="form-control border-0"
      type="search"
      [(ngModel)]="searchTerm"
      name="searchTerm"
      placeholder="Search clients"
    />
    <button
      class="btn btn-outline-primary border-0"
      (click)="showNewClient = true"
    >
    <img src="assets/img/plus-circle-icon.svg" />
      Add Client
    </button>
  </div>
  <div class="input-group bg-white rounded-lg" *ngIf="showNewClient">
    <span class="input-group-text rounded-left-side border-0">Please enter a new Client ID</span>
    <input class="form-control border-0" style="margin-left: 0px;" placeholder="Enter client ID" type="text" #newClientId />
    
    <div class="d-flex align-items-center" style="min-height: 100%">
      <button
        class="btn btn-outline-primary border-0"
        type="button"
        (click)="addClient(newClientId.value)"
      >
      <img src="assets/img/plus-circle-icon.svg" /> Add Client
      </button>
      <div class="vertifcal-divider"></div>
      <button class="btn btn-outline-primary border-0 mr-10px" (click)="showNewClient = false">
        <img src="assets/img/close-circle-icon.svg" /> Back
      </button>
  </div>
  </div>
</form>
<br />

<!--Empty Search result-->
<div
  *ngIf="(clients | search : searchTerm).length == 0"
  style="text-align: center"
  class="alert alert-secondary alert-dismissible fade show"
  role="alert"
>
  No clients to show
</div>

<!--Clientlist-->
<div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="clients" style="padding-left: 8%; padding-right: 8%">
  <div class="col" *ngFor="let client of clients | search : searchTerm">
    <div class="card m-2 h-100" [routerLink]="['/client', client.client_id]">
      <div class="card-header">
        <i
          class="fa fa-lock text-secondary"
          *ngIf="client.token_endpoint_auth_method != 'none'"
          title="Confidential Client"
        ></i>
        <i
          class="fa fa-globe text-secondary"
          *ngIf="client.token_endpoint_auth_method == 'none'"
          title="Public Client"
        ></i>
        <span class="mx-1">
          {{ client.client_name || client.client_id }}
        </span>
      </div>
      <div class="card-body">
        <!--No Scopes Alert-->
        <div class="alert alert-info fade show" *ngIf="!hasScopes(client)">
          This client has no scopes. Maybe try
          <a class="buttonlink" [routerLink]="['/client', client.client_id]"
            >adding some?</a
          >
        </div>

        <!--Scopes-->
        <h6 class="card-sbutitle" *ngIf="hasScopes(client)">
          <strong>Allowed Scopes:</strong>
        </h6>
        <div class="table pb-1" *ngIf="hasScopes(client)">
          <div class="container">
            <div class="row mb-1">
              <div
                class="col-sm mb-4"
                *ngFor="let scope of client.scope"
                style="word-break: keep-all"
              >
                {{ scope }}
              </div>
            </div>
          </div>
        </div>
        <img
          *ngIf="client.logo_uri != null"
          src="{{ client.logo_uri }}"
          class="card-img-bottom mx-auto"
        />
      </div>
      <div class="card-footer">
        <!--Confirm Delete-->
        <div
          class="alert alert-danger"
          *ngIf="confirmClient == client.client_id"
        >
          Do you really want to delete this client?
        </div>
        <button
          class="btn btn-outline-primary border-0 float-end m-1 btn-lg"
          (click)="deleteClient(client); $event.stopPropagation()"
          *ngIf="confirmClient == client.client_id"
        >
          <!-- <span class="fa fa-trash"></span> -->
          Delete
        </button>
        <button
          class="btn btn-primary float-end m-1 btn-lg"
          (click)="hideConfirmDelete(); $event.stopPropagation()"
          *ngIf="confirmClient == client.client_id"
        >
          <!-- <span class="fa fa-close"></span> -->
          Cancel
        </button>

        <button
          class="btn btn-primary float-end m-1 btn-lg"
          *ngIf="client.client_id != confirmClient"
          [routerLink]="['/client/', client.client_id]"
        >
          <!-- <span class="fa fa-edit"></span>  -->
          Edit</button
        ><button
          class="btn btn-outline-primary border-0 float-end m-1 btn-lg"
          *ngIf="client.client_id != confirmClient"
          (click)="confirmDelete(client); $event.stopPropagation()"
        >
          <!-- <span class="fa fa-trash"> </span>-->
           Delete
        </button>
      </div>
    </div>
  </div>
</div>
